<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Import Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <!-- Import Favicons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/public/styles.css">

  <!-- Custom scripts -->
  <script src="/public/scripts.js"></script>

  <title>Not Found</title>
</head>


<body class="background-color-main">

<!-- Navbar -->
<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse background-color-accent z-depth-1-half" id="navbar">

  <!-- Logo -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">The Feed</a>

  <!-- Navigation menu -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Buttons/menus -->
    <ul class="navbar-nav ml-auto">
      <!-- Search bar -->
      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
      </li>

      <!-- New post -->
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-plus"> </i></a>
      </li>

      <!-- User menu -->
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"> </i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Feed</a>
          <a class="dropdown-item" href="#">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- /Navbar -->

<div class="container">

  <!-- Error message -->
  <div class="text-center extra-top-margin">
    <h1>Oops!</h1>
    <p>Looks like that page doesn't exist.</p>
  </div>

</div>

</body>
</html>
