<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Import Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <!-- Import Favicons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Import Blockstack lib -->
  <script src="/public/bundle.js"></script>

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/public/styles.css">

  <!-- Custom scripts -->
  <script src="/public/scripts.js"></script>

  <title>Welcome to The Feed!</title>
</head>


<body class="background-color-main">

<!-- Navbar -->
<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse background-color-accent z-depth-1-half" id="navbar">

  <!-- Logo -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">The Feed</a>
</nav>
<!-- /Navbar -->



<div class="container">

  <!-- Form where user enters info to start their user-server -->
  <div class="text-center extra-top-margin">
    <h1>Welcome to The Feed!</h1>
    <p>
      In The Feed, <span class="font-italic">you</span> own all the data you share. It is not stored
      on some remote server owned by the social network.
    </p>

    <p>
      We will create cloud storage for your data, and only <span class="font-italic">you</span> will
      have access to it. To set this up, you need to enter your Blockstack
      private key:
    </p>

    <p><input id="private-key" type="text" class="form-control"></p>

    <p><button id="go-button" type="button" class="btn btn-primary background-color-accent">Go</button></p>

    <p id="message"></p>  <!-- initially hidden -->

    <p>
      <span class="font-weight-bold">Disclaimer</span>:
      <span class="font-weight-bold">We do not recommend using your primary,
      personal Blockstack ID on The Feed</span>, and entering that private key
      here. Although no one ever sees the private key you enter here (it is
      stored in your personal Blockstack storage), it is safer for you to keep
      that private key, well private. We would instead recommend creating a
      <span class="font-italic">new</span> Blockstack ID just for The Feed,
      and using that private key instead.
    </p>
  </div>

</div>

</body>
</html>
